In [128]:
# -*- coding: utf-8 -*-
# 基本モジュール
import pandas as pd
import numpy as np
import os
import sys
from tqdm import tqdm

import time
import datetime
import dateutil.parser #変数の時間型への変換で使用
from dateutil.relativedelta import relativedelta

from sklearn.linear_model import LinearRegression
from sklearn.preprocessing import PolynomialFeatures
from sklearn.pipeline import Pipeline

from sklearn.ensemble import RandomForestClassifier
np.random.seed(0)
from sklearn.metrics import accuracy_score, f1_score, precision_score, recall_score, classification_report, confusion_matrix

import matplotlib.pylab as plt
from matplotlib.font_manager import FontProperties
fp = FontProperties(fname='meiryo.ttc')
%matplotlib inline

In [2]:
in_data=pd.read_csv("data.csv")

In [3]:
in_data.head()

,action_type,combined_shot_type,game_event_id,game_id,lat,loc_x,loc_y,lon,minutes_remaining,period,...,shot_type,shot_zone_area,shot_zone_basic,shot_zone_range,team_id,team_name,game_date,matchup,opponent,shot_id
0,Jump Shot,Jump Shot,10,20000012,33.9723,167,72,-118.1028,10,1,...,2PT Field Goal,Right Side(R),Mid-Range,16-24 ft.,1610612747,Los Angeles Lakers,2000-10-31,LAL @ POR,POR,1
1,Jump Shot,Jump Shot,12,20000012,34.0443,-157,0,-118.4268,10,1,...,2PT Field Goal,Left Side(L),Mid-Range,8-16 ft.,1610612747,Los Angeles Lakers,2000-10-31,LAL @ POR,POR,2
2,Jump Shot,Jump Shot,35,20000012,33.9093,-101,135,-118.3708,7,1,...,2PT Field Goal,Left Side Center(LC),Mid-Range,16-24 ft.,1610612747,Los Angeles Lakers,2000-10-31,LAL @ POR,POR,3
3,Jump Shot,Jump Shot,43,20000012,33.8693,138,175,-118.1318,6,1,...,2PT Field Goal,Right Side Center(RC),Mid-Range,16-24 ft.,1610612747,Los Angeles Lakers,2000-10-31,LAL @ POR,POR,4
4,Driving Dunk Shot,Dunk,155,20000012,34.0443,0,0,-118.2698,6,2,...,2PT Field Goal,Center(C),Restricted Area,Less Than 8 ft.,1610612747,Los Angeles Lakers,2000-10-31,LAL @ POR,POR,5

In [4]:
in_data.columns

Index(['action_type', 'combined_shot_type', 'game_event_id', 'game_id', 'lat',
       'loc_x', 'loc_y', 'lon', 'minutes_remaining', 'period', 'playoffs',
       'season', 'seconds_remaining', 'shot_distance', 'shot_made_flag',
       'shot_type', 'shot_zone_area', 'shot_zone_basic', 'shot_zone_range',
       'team_id', 'team_name', 'game_date', 'matchup', 'opponent', 'shot_id'],
      dtype='object')

In [6]:
for tmp_col in in_data.columns:
    print(tmp_col+":")
    print(in_data[tmp_col].value_counts())
    print("")

action_type:
Jump Shot                             18880
Layup Shot                             2567
Driving Layup Shot                     1978
Turnaround Jump Shot                   1057
Fadeaway Jump Shot                     1048
Running Jump Shot                       926
Pullup Jump shot                        476
Turnaround Fadeaway shot                439
Slam Dunk Shot                          411
Reverse Layup Shot                      395
Jump Bank Shot                          333
Driving Dunk Shot                       310
Dunk Shot                               262
Tip Shot                                182
Alley Oop Dunk Shot                     122
Step Back Jump shot                     118
Floating Jump shot                      114
Driving Reverse Layup Shot               97
Hook Shot                                84
Driving Finger Roll Shot                 82
Alley Oop Layup shot                     80
Reverse Dunk Shot                        75
Running Layup Shot                       72
Turnaround Bank shot                     71
Driving Finger Roll Layup Shot           69
Running Bank shot                        48
Driving Slam Dunk Shot                   48
Running Hook Shot                        41
Finger Roll Layup Shot                   33
Fadeaway Bank shot                       31
Finger Roll Shot                         28
Driving Jump shot                        28
Jump Hook Shot                           24
Running Dunk Shot                        19
Reverse Slam Dunk Shot                   16
Putback Layup Shot                       15
Follow Up Dunk Shot                      15
Driving Hook Shot                        14
Turnaround Hook Shot                     14
Pullup Bank shot                         12
Running Reverse Layup Shot               11
Cutting Layup Shot                        6
Running Finger Roll Layup Shot            6
Driving Bank shot                         5
Hook Bank Shot                            5
Driving Floating Jump Shot                5
Putback Dunk Shot                         5
Running Finger Roll Shot                  4
Running Pull-Up Jump Shot                 4
Running Tip Shot                          2
Putback Slam Dunk Shot                    2
Tip Layup Shot                            2
Turnaround Finger Roll Shot               2
Turnaround Fadeaway Bank Jump Shot        1
Cutting Finger Roll Layup Shot            1
Running Slam Dunk Shot                    1
Driving Floating Bank Jump Shot           1
Name: action_type, dtype: int64

combined_shot_type:
Jump Shot    23485
Layup         5448
Dunk          1286
Tip Shot       184
Hook Shot      153
Bank Shot      141
Name: combined_shot_type, dtype: int64

game_event_id:
2      132
4      106
11      96
17      93
8       92
278     91
318     91
12      90
6       89
9       88
267     87
24      87
337     85
257     85
249     84
64      84
26      84
238     84
239     83
256     83
70      82
219     81
333     81
102     81
13      81
85      81
272     81
27      81
244     80
247     80
      ...
634      2
579      2
583      2
610      2
582      2
593      2
573      2
588      2
599      2
587      1
617      1
606      1
590      1
607      1
625      1
620      1
589      1
628      1
595      1
653      1
615      1
623      1
600      1
624      1
616      1
594      1
603      1
650      1
659      1
639      1
Name: game_event_id, Length: 620, dtype: int64

game_id:
21501228    50
20200069    47
20500591    46
20600431    45
20700553    44
20601081    44
21200398    41
20500480    41
20200743    41
20200127    40
20600977    39
20500988    39
20501078    38
40200221    38
20800884    38
20600340    38
20200769    38
20601016    37
20701082    37
20900527    37
20500412    37
21400056    37
20200142    37
20500192    36
20500114    36
20000267    35
40500156    35
20200223    35
40000069    35
20500563    35
            ..
29600727     3
29600044     3
29600072     3
29600488     3
49900084     3
49700059     3
49600013     3
29600991     3
29600432     3
49700075     2
29600086     2
29600844     2
21500906     2
29600219     2
29600136     2
29600382     2
29600781     2
29600095     2
20400518     2
49600008     1
29600767     1
29600031     1
29600961     1
29600202     1
49600044     1
29600284     1
29700933     1
29600027     1
29600813     1
29600412     1
Name: game_id, Length: 1559, dtype: int64

lat:
34.0443    5599
34.0373     246
34.0323     225
34.0413     218
34.0293     211
34.0273     201
33.8883     198
34.0183     189
33.9833     186
34.0213     185
33.8843     180
34.0333     176
34.0403     176
34.0473     173
33.9783     172
33.9813     168
34.0163     168
34.0133     166
33.9013     162
34.0223     161
34.0143     160
33.8713     160
34.0083     160
34.0433     158
33.8653     153
34.0243     152
33.9093     151
33.8583     151
33.9913     150
33.9073     150
           ...
33.7283       1
33.6823       1
33.4113       1
33.6023       1
33.3933       1
33.5113       1
34.0873       1
33.4213       1
33.6353       1
33.4553       1
33.6123       1
33.5673       1
33.5593       1
33.4963       1
33.3483       1
33.4723       1
33.6863       1
33.6743       1
33.4703       1
33.5773       1
33.7473       1
33.5723       1
33.4573       1
33.5793       1
33.6003       1
33.7293       1
33.7403       1
33.3163       1
33.6033       1
33.4783       1
Name: lat, Length: 457, dtype: int64

loc_x:
 0      5475
 1       272
 138     148
 108     147
 159     146
-2       144
 136     143
 144     138
 18      137
-149     136
-8       136
 6       135
-141     130
 121     129
 143     126
 10      126
 130     124
-16      123
-128     121
-10      118
 149     117
 125     117
 115     116
 94      115
 15      114
-4       114
 154     113
-5       112
 141     111
 13      110
        ...
-242       6
 239       6
-178       6
-243       5
-206       5
-239       5
-203       5
 229       5
 248       5
-129       4
-216       4
-165       4
-17        4
-246       4
 216       4
 137       4
-9         4
 224       3
 244       3
-245       3
-244       2
 246       2
-47        2
 245       2
-250       1
 243       1
-248       1
-208       1
 139       1
-211       1
Name: loc_x, Length: 489, dtype: int64

loc_y:
 0      5599
 7       246
 12      225
 3       218
 15      211
 17      201
 156     198
 26      189
 61      186
 23      185
 160     180
 4       176
 11      176
-3       173
 66      172
 63      168
 28      168
 31      166
 143     162
 22      161
 30      160
 173     160
 36      160
 1       158
 179     153
 20      152
 135     151
 186     151
 53      150
 137     150
        ...
 548       1
 388       1
 356       1
 591       1
 658       1
 401       1
 472       1
 465       1
 497       1
 561       1
 393       1
 345       1
 340       1
 297       1
 728       1
 696       1
 664       1
 440       1
 626       1
 392       1
 376       1
 296       1
 791       1
 711       1
 322       1
 370       1
 386       1
 466       1
 610       1
 623       1
Name: loc_y, Length: 457, dtype: int64

lon:
-118.2698    5475
-118.2688     272
-118.1318     148
-118.1618     147
-118.1108     146
-118.2718     144
-118.1338     143
-118.1258     138
-118.2518     137
-118.4188     136
-118.2778     136
-118.2638     135
-118.4108     130
-118.1488     129
-118.1268     126
-118.2598     126
-118.1398     124
-118.2858     123
-118.3978     121
-118.2798     118
-118.1448     117
-118.1208     117
-118.1548     116
-118.1758     115
-118.2548     114
-118.2738     114
-118.1158     113
-118.2748     112
-118.1288     111
-118.4078     110
             ...
-118.0308       6
-118.5118       6
-118.2918       6
-118.0408       5
-118.0218       5
-118.4728       5
-118.5088       5
-118.5128       5
-118.4758       5
-118.4858       4
-118.0538       4
-118.2788       4
-118.3988       4
-118.4348       4
-118.2868       4
-118.5158       4
-118.1328       4
-118.0458       3
-118.5148       3
-118.0258       3
-118.0238       2
-118.5138       2
-118.3168       2
-118.0248       2
-118.1308       1
-118.0268       1
-118.4778       1
-118.5178       1
-118.4808       1
-118.5198       1

Name: lon, Length: 489, dtype: int64

minutes_remaining:
0     3866
4     2855
3     2839
2     2834
1     2734
5     2651
6     2383
7     2215
9     2202
8     2139
10    2122
11    1857
Name: minutes_remaining, dtype: int64

period:
3    8296
1    8048
4    7260
2    6718
5     330
6      38
7       7
Name: period, dtype: int64

playoffs:
0    26198
1     4499
Name: playoffs, dtype: int64

season:
2005-06    2318
2008-09    2242
2002-03    2241
2007-08    2153
2009-10    2080
2001-02    2028
2006-07    1887
2000-01    1868
2010-11    1825
2003-04    1638
2011-12    1637
2012-13    1593
1999-00    1577
2004-05    1324
2015-16    1113
1997-98     989
1998-99     921
2014-15     713
1996-97     477
2013-14      73
Name: season, dtype: int64

seconds_remaining:
0     985
1     659
2     598
32    557
4     557
28    550
5     549
36    546
41    541
25    536
40    527
13    526
44    526
38    526
11    526
37    523
23    521
3     520
33    519
24    518
27    512
8     511
16    510
18    509
45    508
47    507
57    507
14    507
34    506
19    504
31    504
10    503
42    501
43    501
35    499
22    498
7     498
20    496
39    494
21    494
17    492
26    491
30    486
29    486
15    483
12    478
6     474
50    473
9     469
52    468
56    464
59    462
46    461
48    460
51    457
49    454
58    447
54    445
53    437
55    431
Name: seconds_remaining, dtype: int64

shot_distance:
0     5542
25    1971
24    1507
17    1487
18    1430
16    1406
19    1360
26    1260
20    1202
15    1152
14    1061
13     934
21     805
12     787
7      710
10     702
11     701
22     675
8      675
6      650
1      636
9      614
2      581
23     574
5      529
27     517
3      377
4      369
28     190
29      82
      ...
56       4
49       4
58       4
52       4
62       4
44       4
48       3
74       3
55       3
51       3
54       3
47       3
59       3
50       3
64       2
46       2
61       2
45       2
70       2
60       2
67       2
68       2
53       2
63       2
65       1
77       1
57       1
69       1
71       1
79       1
Name: shot_distance, Length: 74, dtype: int64

shot_made_flag:
0.0    14232
1.0    11465
Name: shot_made_flag, dtype: int64

shot_type:
2PT Field Goal    24271
3PT Field Goal     6426
Name: shot_type, dtype: int64

shot_zone_area:
Center(C)                13455
Right Side Center(RC)     4776
Right Side(R)             4588
Left Side Center(LC)      4044
Left Side(L)              3751
Back Court(BC)              83
Name: shot_zone_area, dtype: int64

shot_zone_basic:
Mid-Range                12625
Restricted Area           7136
Above the Break 3         5620
In The Paint (Non-RA)     4578
Right Corner 3             387
Left Corner 3              280
Backcourt                   71
Name: shot_zone_basic, dtype: int64

shot_zone_range:
Less Than 8 ft.    9398
16-24 ft.          8315
8-16 ft.           6626
24+ ft.            6275
Back Court Shot      83
Name: shot_zone_range, dtype: int64

team_id:
1610612747    30697
Name: team_id, dtype: int64

team_name:
Los Angeles Lakers    30697
Name: team_name, dtype: int64

game_date:
2016-04-13    50
2002-11-07    47
2006-01-22    46
2006-12-29    45
2008-01-14    44
2007-03-30    44
2006-01-07    41
2003-02-14    41
2012-12-22    41
2002-11-15    40
2006-03-20    39
2007-03-16    39
2006-03-31    38
2009-03-01    38
2006-12-15    38
2003-05-05    38
2003-02-18    38
2010-01-08    37
2014-11-04    37
2005-12-28    37
2008-03-28    37
2002-11-17    37
2007-03-22    37
2005-11-16    36
2005-11-27    36
2000-12-06    35
2002-11-29    35
2006-05-04    35
2007-03-18    35
2001-05-19    35
              ..
1996-11-10     3
1998-05-12     3
1997-01-02     3
1997-02-16     3
1996-11-06     3
1997-03-24     3
1997-04-27     3
1997-01-10     3
2000-06-09     3
1996-11-19     2
1996-12-01     2
1997-02-23     2
2016-03-02     2
1996-12-25     2
2005-01-13     2
1998-05-24     2
1996-11-12     2
1997-03-04     2
1996-11-13     2
1996-11-05     1
1997-03-20     1
1996-11-03     1
1997-02-28     1
1997-04-25     1
1998-03-16     1
1997-02-21     1
1997-05-06     1
1996-12-29     1
1996-11-29     1
1996-12-10     1
Name: game_date, Length: 1559, dtype: int64

matchup:
LAL @ SAS      1020
LAL vs. SAS     936
LAL @ SAC       889
LAL vs. HOU     878
LAL @ DEN       873
LAL @ PHX       859
LAL vs. PHX     849
LAL @ HOU       788
LAL @ POR       786
LAL vs. DEN     769
LAL vs. SAC     754
LAL vs. POR     753
LAL @ MIN       748
LAL @ UTA       738
LAL vs. UTA     731
LAL vs. MIN     726
LAL @ GSW       683
LAL vs. GSW     673
LAL vs. LAC     659
LAL @ LAC       626
LAL @ DAL       618
LAL vs. DAL     581
LAL @ BOS       525
LAL vs. MEM     517
LAL @ MEM       513
LAL @ SEA       427
LAL vs. BOS     421
LAL @ ORL       415
LAL vs. IND     409
LAL vs. SEA     401
               ...
LAL @ CHI       311
LAL vs. MIL     304
LAL vs. ORL     304
LAL @ ATL       301
LAL vs. CHI     299
LAL vs. NOH     298
LAL vs. CLE     296
LAL @ MIA       294
LAL @ NOH       283
LAL @ MIL       282
LAL @ NJN       280
LAL vs. WAS     274
LAL vs. NJN     240
LAL vs. CHA     224
LAL @ CHA       223
LAL vs. ATL     218
LAL @ VAN       131
LAL @ NOK       128
LAL vs. VAN     115
LAL vs. NOK     108
LAL vs. CHH     102
LAL @ NOP        81
LAL @ CHH        71
LAL @ BKN        40
LAL vs. PHO      40
LAL @ PHO        33
LAL vs. NOP      27
LAL vs. SAN      22
LAL @ UTH        21
LAL vs. BKN      15
Name: matchup, Length: 74, dtype: int64

opponent:
SAS    1978
PHX    1781
HOU    1666
SAC    1643
DEN    1642
POR    1539
UTA    1490
MIN    1474
GSW    1356
LAC    1285
DAL    1199
MEM    1030
BOS     946
SEA     828
IND     761
PHI     720
ORL     719
DET     715
OKC     677
TOR     664
NYK     657
MIA     627
CHA     620
CLE     619
CHI     610
WAS     600
MIL     586
NOH     581
NJN     520
ATL     519
NOP     344
VAN     246
BKN      55
Name: opponent, dtype: int64

shot_id:
2047     1
9550     1
23873    1
17730    1
19779    1
30020    1
25926    1
27975    1
5448     1
7497     1
1354     1
3403     1
13644    1
15693    1
11599    1
11567    1
21856    1
23905    1
17762    1
19811    1
30052    1
25958    1
28007    1
5480     1
7529     1
1386     1
3435     1
13676    1
21824    1
9518     1
        ..
19132    1
29371    1
25273    1
27320    1
23166    1
21119    1
10896    1
8849     1
14994    1
12947    1
2708     1
661      1
6806     1
4759     1
27288    1
25241    1
29339    1
19100    1
17053    1
23198    1
21151    1
10928    1
8881     1
15026    1
12979    1
2740     1
693      1
6838     1
4791     1
2049     1
Name: shot_id, Length: 30697, dtype: int64

In [9]:
for tmp_type in np.unique(in_data["combined_shot_type"]):
    tmp_data=in_data[in_data["combined_shot_type"]==tmp_type].copy()
    print(tmp_type+":")
    print(len(tmp_data[tmp_data["shot_made_flag"]==1]))
    print(len(tmp_data[tmp_data["shot_made_flag"]==0]))

Bank Shot:
95
25
Dunk:
980
76
Hook Shot:
68
59
Jump Shot:
7708
12002
Layup:
2561
1971
Tip Shot:
53
99

In [85]:
in_data2=in_data.copy()

In [86]:
del in_data2["action_type"]

In [87]:
tmp_data=pd.get_dummies(in_data2["combined_shot_type"])
tmp_data.columns=["1_"+tmp_col for tmp_col in tmp_data]

In [88]:
in_data2=pd.concat([in_data2,tmp_data],axis=1)

In [89]:
del in_data2["game_event_id"]

In [90]:
del in_data2["game_id"]

In [91]:
del in_data2['lat']
del in_data2['lon']

In [92]:
in_data2[['minutes_remaining','seconds_remaining']]

       minutes_remaining  seconds_remaining
0                     10                 27
1                     10                 22
2                      7                 45
3                      6                 52
4                      6                 19
5                      9                 32
6                      8                 52
7                      8                  5
8                      6                 12
9                      3                 36
10                     1                 56
11                    11                  0
12                     7                  9
13                     2                 44
14                     1                 16
15                     0                 48
16                     0                  1
17                     8                 50
18                    11                 29
19                    10                 46
20                    10                  8
21                     9                  4
22                     7                 57
23                     5                 47
24                     5                 11
25                     2                 36
26                     2                  4
27                     0                 30
28                     8                 19
29                     6                 22
...                  ...                ...
30667                  9                 33
30668                  7                 27
30669                  3                 48
30670                  9                 34
30671                  8                 51
30672                  8                  9
30673                  7                 14
30674                  2                 34
30675                  2                  0
30676                  0                 37
30677                  0                  1
30678                  3                 34
30679                  0                 41
30680                  0                 40
30681                  0                  2
30682                 11                 30
30683                 10                 51
30684                 10                 16
30685                  7                 31
30686                  5                 37
30687                  3                 18
30688                  1                  7
30689                  0                  0
30690                 11                 37
30691                  7                  4
30692                  6                  5
30693                  6                  5
30694                  3                 28
30695                  2                 10
30696                  0                 39

[30697 rows x 2 columns]

In [93]:
in_data2["time_remaining"]=in_data2['minutes_remaining']*60+in_data2['seconds_remaining']

In [94]:
del in_data2['minutes_remaining']
del in_data2['seconds_remaining']

In [95]:
del in_data2["combined_shot_type"]

In [96]:
def ret4(x):
    return int(str(x)[0:4])

In [97]:
in_data2["season"]=in_data2["season"].apply(ret4)

In [98]:
tmp_data=pd.get_dummies(in_data2["shot_type"])
tmp_data.columns=["15_"+tmp_col for tmp_col in tmp_data.columns]

In [99]:
in_data2=pd.concat([in_data2,tmp_data],axis=1)
del in_data2["shot_type"]

In [100]:
in_data2["shot_zone_area"].value_counts()

Center(C)                13455
Right Side Center(RC)     4776
Right Side(R)             4588
Left Side Center(LC)      4044
Left Side(L)              3751
Back Court(BC)              83
Name: shot_zone_area, dtype: int64

In [101]:
tmp_data=pd.get_dummies(in_data2["shot_zone_area"])
tmp_data.columns=["16_"+tmp_col for tmp_col in tmp_data.columns]
in_data2=pd.concat([in_data2,tmp_data],axis=1)
del in_data2["shot_zone_area"]

In [102]:
in_data2["shot_zone_basic"].value_counts()

Mid-Range                12625
Restricted Area           7136
Above the Break 3         5620
In The Paint (Non-RA)     4578
Right Corner 3             387
Left Corner 3              280
Backcourt                   71
Name: shot_zone_basic, dtype: int64

In [103]:
tmp_data=pd.get_dummies(in_data2["shot_zone_basic"])
tmp_data.columns=["17_"+tmp_col for tmp_col in tmp_data.columns]
in_data2=pd.concat([in_data2,tmp_data],axis=1)
del in_data2["shot_zone_basic"]

In [104]:
in_data2["shot_zone_range"].value_counts()

Less Than 8 ft.    9398
16-24 ft.          8315
8-16 ft.           6626
24+ ft.            6275
Back Court Shot      83
Name: shot_zone_range, dtype: int64

In [105]:
tmp_data=pd.get_dummies(in_data2["shot_zone_range"])
tmp_data.columns=["18_"+tmp_col for tmp_col in tmp_data.columns]
in_data2=pd.concat([in_data2,tmp_data],axis=1)
del in_data2["shot_zone_range"]

In [106]:
in_data2["team_id"].value_counts()

1610612747    30697
Name: team_id, dtype: int64

In [107]:
del in_data2["team_id"]

In [108]:
in_data2["team_name"].value_counts()

Los Angeles Lakers    30697
Name: team_name, dtype: int64

In [109]:
del in_data2["team_name"]

In [110]:
in_data2["game_date"].head()

0    2000-10-31
1    2000-10-31
2    2000-10-31
3    2000-10-31
4    2000-10-31
Name: game_date, dtype: object

# Unix時間を足したい

In [111]:
def ret_month(x):
    return str(x)[5:7]

In [112]:
in_data2["game_month"]=in_data2["game_date"].apply(ret_month)

In [113]:
tmp_data=pd.get_dummies(in_data2["game_month"])
tmp_data.columns=["18_gage_month_"+tmp_col for tmp_col in tmp_data.columns]
in_data2=pd.concat([in_data2,tmp_data],axis=1)
del in_data2["game_month"]
del in_data2["game_date"]

In [114]:
def isHome(x):
    if str(x)[4:5]=="@":
        ret=0
    elif str(x)[4:5]=="v":
        ret=1
    else:
        ret=99999999
    return ret

In [115]:
in_data2["home_game"]=in_data2["matchup"].apply(isHome)

In [116]:
del in_data2["matchup"]

In [117]:
in_data2["opponent"].value_counts()

SAS    1978
PHX    1781
HOU    1666
SAC    1643
DEN    1642
POR    1539
UTA    1490
MIN    1474
GSW    1356
LAC    1285
DAL    1199
MEM    1030
BOS     946
SEA     828
IND     761
PHI     720
ORL     719
DET     715
OKC     677
TOR     664
NYK     657
MIA     627
CHA     620
CLE     619
CHI     610
WAS     600
MIL     586
NOH     581
NJN     520
ATL     519
NOP     344
VAN     246
BKN      55
Name: opponent, dtype: int64

In [118]:
tmp_data=pd.get_dummies(in_data2["opponent"])
tmp_data.columns=["20_opponent_"+tmp_col for tmp_col in tmp_data.columns]
in_data2=pd.concat([in_data2,tmp_data],axis=1)
del in_data2["opponent"]

In [119]:
in_data2

,loc_x,loc_y,period,playoffs,season,shot_distance,shot_made_flag,shot_id,1_Bank Shot,1_Dunk,...,20_opponent_PHI,20_opponent_PHX,20_opponent_POR,20_opponent_SAC,20_opponent_SAS,20_opponent_SEA,20_opponent_TOR,20_opponent_UTA,20_opponent_VAN,20_opponent_WAS
0,167,72,1,0,2000,18,NaN,1,0,0,...,0,0,1,0,0,0,0,0,0,0
1,-157,0,1,0,2000,15,0.0,2,0,0,...,0,0,1,0,0,0,0,0,0,0
2,-101,135,1,0,2000,16,1.0,3,0,0,...,0,0,1,0,0,0,0,0,0,0
3,138,175,1,0,2000,22,0.0,4,0,0,...,0,0,1,0,0,0,0,0,0,0
4,0,0,2,0,2000,0,1.0,5,0,1,...,0,0,1,0,0,0,0,0,0,0
5,-145,-11,3,0,2000,14,0.0,6,0,0,...,0,0,1,0,0,0,0,0,0,0
6,0,0,3,0,2000,0,1.0,7,0,0,...,0,0,1,0,0,0,0,0,0,0
7,1,28,3,0,2000,2,NaN,8,0,0,...,0,0,1,0,0,0,0,0,0,0
8,-65,108,3,0,2000,12,1.0,9,0,0,...,0,0,1,0,0,0,0,0,0,0
9,-33,125,3,0,2000,12,0.0,10,0,0,...,0,0,1,0,0,0,0,0,0,0
10,-94,238,3,0,2000,25,0.0,11,0,0,...,0,0,1,0,0,0,0,0,0,0
11,121,127,1,0,2000,17,1.0,12,0,0,...,0,0,0,0,0,0,0,1,0,0
12,-67,110,1,0,2000,12,1.0,13,0,0,...,0,0,0,0,0,0,0,1,0,0
13,-94,4,1,0,2000,9,0.0,14,0,0,...,0,0,0,0,0,0,0,1,0,0
14,-23,47,1,0,2000,5,0.0,15,0,0,...,0,0,0,0,0,0,0,1,0,0
15,62,192,1,0,2000,20,0.0,16,0,0,...,0,0,0,0,0,0,0,1,0,0
16,0,0,1,0,2000,0,NaN,17,0,0,...,0,0,0,0,0,0,0,1,0,0
17,-117,226,2,0,2000,25,1.0,18,0,0,...,0,0,0,0,0,0,0,1,0,0
18,-132,97,3,0,2000,16,0.0,19,0,0,...,0,0,0,0,0,0,0,1,0,0
19,0,0,3,0,2000,0,NaN,20,0,0,...,0,0,0,0,0,0,0,1,0,0
20,3,144,3,0,2000,14,0.0,21,0,0,...,0,0,0,0,0,0,0,1,0,0
21,134,127,3,0,2000,18,0.0,22,0,0,...,0,0,0,0,0,0,0,1,0,0
22,-16,110,3,0,2000,11,1.0,23,0,0,...,0,0,0,0,0,0,0,1,0,0
23,-109,150,3,0,2000,18,1.0,24,0,0,...,0,0,0,0,0,0,0,1,0,0
24,-46,63,3,0,2000,7,1.0,25,0,0,...,0,0,0,0,0,0,0,1,0,0
25,0,0,3,0,2000,0,0.0,26,0,0,...,0,0,0,0,0,0,0,1,0,0
26,-58,196,3,0,2000,20,0.0,27,0,0,...,0,0,0,0,0,0,0,1,0,0
27,-183,186,3,0,2000,26,0.0,28,0,0,...,0,0,0,0,0,0,0,1,0,0
28,85,173,4,0,2000,19,0.0,29,0,0,...,0,0,0,0,0,0,0,1,0,0
29,3,87,4,0,2000,8,0.0,30,0,0,...,0,0,0,0,0,0,0,1,0,0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
30667,40,250,4,1,1999,25,0.0,30668,0,0,...,0,0,0,0,0,0,0,0,0,0
30668,-23,222,4,1,1999,22,NaN,30669,0,0,...,0,0,0,0,0,0,0,0,0,0
30669,171,53,4,1,1999,17,0.0,30670,0,0,...,0,0,0,0,0,0,0,0,0,0
30670,-74,16,1,1,1999,7,0.0,30671,0,0,...,0,0,0,0,0,0,0,0,0,0
30671,0,0,1,1,1999,0,0.0,30672,0,0,...,0,0,0,0,0,0,0,0,0,0
30672,89,55,1,1,1999,10,1.0,30673,0,0,...,0,0,0,0,0,0,0,0,0,0
30673,117,0,1,1,1999,11,0.0,30674,0,0,...,0,0,0,0,0,0,0,0,0,0
30674,117,216,1,1,1999,24,1.0,30675,0,0,...,0,0,0,0,0,0,0,0,0,0
30675,-134,216,1,1,1999,25,0.0,30676,0,0,...,0,0,0,0,0,0,0,0,0,0
30676,-141,0,1,1,1999,14,1.0,30677,0,0,...,0,0,0,0,0,0,0,0,0,0
30677,-113,143,1,1,1999,18,0.0,30678,0,0,...,0,0,0,0,0,0,0,0,0,0
30678,14,16,2,1,1999,2,0.0,30679,0,0,...,0,0,0,0,0,0,0,0,0,0
30679,0,0,2,1,1999,0,0.0,30680,0,0,...,0,0,0,0,0,0,0,0,0,0
30680,0,0,2,1,1999,0,NaN,30681,0,0,...,0,0,0,0,0,0,0,0,0,0
30681,-18,261,2,1,1999,26,1.0,30682,0,0,...,0,0,0,0,0,0,0,0,0,0
30682,-68,48,3,1,1999,8,NaN,30683,0,0,...,0,0,0,0,0,0,0,0,0,0
30683,1,216,3,1,1999,21,0.0,30684,0,0,...,0,0,0,0,0,0,0,0,0,0
30684,-96,89,3,1,1999,13,0.0,30685,0,0,...,0,0,0,0,0,0,0,0,0,0
30685,81,250,3,1,1999,26,0.0,30686,0,0,...,0,0,0,0,0,0,0,0,0,0
30686,16,93,3,1,1999,9,NaN,30687,0,0,...,0,0,0,0,0,0,0,0,0,0
30687,40,100,3,1,1999,10,0.0,30688,0,0,...,0,0,0,0,0,0,0,0,0,0
30688,-126,61,3,1,1999,13,1.0,30689,0,0,...,0,0,0,0,0,0,0,0,0,0
30689,-12,679,3,1,1999,67,0.0,30690,0,0,...,0,0,0,0,0,0,0,0,0,0
30690,-113,100,4,1,1999,15,0.0,30691,0,0,...,0,0,0,0,0,0,0,0,0,0
30691,0,0,4,1,1999,0,0.0,30692,0,0,...,0,0,0,0,0,0,0,0,0,0
30692,1,48,4,1,1999,4,0.0,30693,0,0,...,0,0,0,0,0,0,0,0,0,0
30693,0,0,4,1,1999,0,NaN,30694,0,0,...,0,0,0,0,0,0,0,0,0,0
30694,-134,166,4,1,1999,21,1.0,30695,0,0,...,0,0,0,0,0,0,0,0,0,0
30695,31,267,4,1,1999,26,0.0,30696,0,0,...,0,0,0,0,0,0,0,0,0,0
30696,1,72,4,1,1999,7,0.0,30697,0,0,...,0,0,0,0,0,0,0,0,0,0

In [122]:
train_data=in_data2[in_data2["shot_made_flag"]==in_data2["shot_made_flag"]]

In [124]:
train_data_x=train_data.copy()

In [125]:
del train_data_x["shot_made_flag"]
del train_data_x["shot_id"]

In [126]:
train_data_y=train_data["shot_made_flag"]

In [139]:
model = RandomForestClassifier(random_state=0,n_estimators=100)

In [140]:
model.fit(train_data_x, train_data_y)

RandomForestClassifier(bootstrap=True, class_weight=None, criterion='gini',
            max_depth=None, max_features='auto', max_leaf_nodes=None,
            min_impurity_decrease=0.0, min_impurity_split=None,
            min_samples_leaf=1, min_samples_split=2,
            min_weight_fraction_leaf=0.0, n_estimators=100, n_jobs=1,
            oob_score=False, random_state=0, verbose=0, warm_start=False)

In [176]:
ypred=model.predict(train_data_x)
accuracy_score(train_data_y, ypred)

1.0

In [158]:
imp_data=pd.DataFrame([train_data_x.columns,model.feature_importances_]).T
imp_data.columns=["col","imp"]

In [166]:
imp_data=imp_data.sort_values("imp",ascending=False)
imp_data=imp_data.reset_index(drop=True)

In [169]:
imp_data["cumsum"]=imp_data.cumsum()["imp"]

In [174]:
imp_cols=np.array(imp_data[imp_data["cumsum"]<0.95]["col"])

In [175]:
model2 = RandomForestClassifier(random_state=0,n_estimators=100)
model2.fit(train_data_x[imp_cols], train_data_y)

RandomForestClassifier(bootstrap=True, class_weight=None, criterion='gini',
            max_depth=None, max_features='auto', max_leaf_nodes=None,
            min_impurity_decrease=0.0, min_impurity_split=None,
            min_samples_leaf=1, min_samples_split=2,
            min_weight_fraction_leaf=0.0, n_estimators=100, n_jobs=1,
            oob_score=False, random_state=0, verbose=0, warm_start=False)

In [178]:
ypred=model2.predict(train_data_x[imp_cols])
accuracy_score(train_data_y, ypred)

1.0

In [143]:
eval_data=in_data2[in_data2["shot_made_flag"]!=in_data2["shot_made_flag"]].copy()

In [144]:
eval_data_x=eval_data.copy()
del eval_data_x["shot_made_flag"]
del eval_data_x["shot_id"]

In [145]:
ypred=model.predict_proba(eval_data_x)

In [179]:
ypred2=model2.predict_proba(eval_data_x[imp_cols])

In [180]:
ypred2

array([[0.68, 0.32],
       [0.49, 0.51],
       [0.59, 0.41],
       ...,
       [0.76, 0.24],
       [0.66, 0.34],
       [0.45, 0.55]])

In [152]:
submit_data=pd.concat([eval_data.reset_index(drop=True)["shot_id"],pd.DataFrame(ypred[:,1])],axis=1)
submit_data.columns=["shot_id","shot_made_flag"]
submit_data.to_csv("submit_data_0527_01.csv",index=False,header=True)

In [181]:
submit_data=pd.concat([eval_data.reset_index(drop=True)["shot_id"],pd.DataFrame(ypred2[:,1])],axis=1)
submit_data.columns=["shot_id","shot_made_flag"]
submit_data.to_csv("submit_data_0527_02.csv",index=False,header=True)